.header {

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #E3E4E5;
        padding: 12px;
        border-radius: 100px;
    }
    &__logo {
        cursor: pointer;

    }
    &__nav {
        display: flex;
        align-items: center;
    }
    &__nav-list {
        display: flex;
        align-items: center;
        gap: 24px;
        padding-right: 124px;

    }
    &__nav-text {
        list-style: none;
        font-size: 400;
        font-weight: 16px;
    }
    &__nav-buttons {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    &__nav-icon {
        cursor: pointer;
    }

}