.choise {
    max-width: 480px;
    border-radius: 24px;
    padding: 24px;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__title {
        font-family: Onest;
        font-weight: 500;
        font-size: 24px;
        color: #191A1B;

    }

    &__btn {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        border: 1px solid #E5E6E8;
        background: #fff;

    }

    &__wrap {
        position: relative;
        max-width: 432px;
    }

    &__input {
        width: 100%;
        max-height: 48px;
        border-radius: 100px;
        padding: 8px 12px;
        border: 1px solid #E5E6E8;
        box-sizing: border-box;
        margin-top: 8px;
        &::placeholder{
            padding-left: 17px;
        }

        &-img {
            width: 13px;
            position: absolute;
            left: 12px;
            top: 60%;
            transform: translateY(-50%);
        }
    }

    &__bot {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }


}