.btn {
    border-radius: 100px;
    padding: 13px 16px;
    font-family: Onest;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    background-color: #F5653E;
    border: 0px;
    cursor: pointer;
}