.footer {
    margin-bottom: 40px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 96px;
        padding: 64px;
        background: #FFF8F5;
        border-radius: 40px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 49px;
        align-items: center;
    }

    &__right {
        display: flex;
        gap: 120px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
    }

    &__item {
        font-family: Onest;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        color: #686F72;
        line-height: 130%;
        letter-spacing: 0%;
        list-style: none;
        max-width: 170px;
        text-decoration: none;

        &-l {
            max-width: 236px;
        }

        &-title {
            color: #191A1B;
            font-weight: 500;
        }

    }

    &__media {
        display: flex;
        gap: 16px;

        &-img {
            width: 48px;
            height: 48px;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 14px;

        &-1 {
            width: 56px;
            height: 56px;
        }

        &-2 {
            width: 115px;
            height: 48px;
        }
    }

    &__text {
        font-family: Onest;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        color: #191A1B;
        line-height: 130%;
        letter-spacing: 0%;

    }

    &__mb {
        display: none;
    }

}

@media (max-width:1140px) {
    .footer {
        &__top {
            gap: 20px;
        }

        &__right {
            gap: 40px;
        }
    }
}

@media (max-width:900px) {
    .footer {
        &__top {
            flex-direction: column;
            align-items: center;

        }

        &__right {
            gap: 40px;
        }
    }
}

@media (max-width:600px) {
   
  
    .footer {
         margin-bottom: 32px;
        &__content {
            display: none;
        }

        &__mb {
            display: block;

            &-content {
                display: flex;
                justify-content: space-between;
                gap: 33px;
                align-items: center;
            }

            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;
            }

            &-text {
                font-family: Onest;
                font-weight: 500;
                font-style: Medium;
                font-size: 14px;
                color: #595E61;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: center;
                vertical-align: middle;

                span {
                    color: #FF7C63;
                }

            }

        }

    }
}