.footer {
    margin-bottom: 40px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 96px;
        padding: 64px;
        background: #FFF8F5;
        border-radius: 40px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
    }

    &__left {
        display: flex;
        flex-direction: column;
        gap: 49px;
        align-items: center;
    }

    &__right {
        display: flex;
        gap: 120px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
    }

    &__item {
        font-family: Onest;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        color: #686F72;
        line-height: 130%;
        letter-spacing: 0%;
        list-style: none;
        max-width: 170px;
        text-decoration: none;

        &-l {
            max-width: 236px;
        }

        &-title {
            color: #191A1B;
            font-weight: 500;
        }

    }

    &__media {
        display: flex;
        gap: 16px;

        &-img {
            width: 48px;
            height: 48px;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 14px;

        &-1 {
            width: 56px;
            height: 56px;
        }

        &-2 {
            width: 115px;
            height: 48px;
        }
    }

    &__text {
        font-family: Onest;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        color: #191A1B;
        line-height: 130%;
        letter-spacing: 0%;

    }


}